@use '../variables' as *;
.task-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: $secondary;
  border: 1px solid $divider;
  border-radius: $radius-8;
  padding: $space-3;
  box-shadow: $shadow-1;
  transition: box-shadow .15s ease, transform .15s ease, opacity .1s ease;

  &__title {
    font-weight: $fw-600;
    font-size: $fs-14;
    color: $text;
  }

  &__actions {
    margin-top: $space-3;
    display: flex;
    gap: $space-2;
  }

  &__btn {
    padding: $space-1 $space-2;
    border-radius: $radius-8;
    border: 1px solid $divider;
    background: $bg;
    cursor: pointer;
    font-size: $fs-12;
    font-weight: $fw-500;
  }

  &--dragging {
    box-shadow: $shadow-2;
    cursor: grabbing;
    opacity: .9;
  }

  &:hover {
    box-shadow: $shadow-2;
  }

  &__handle  {
    border: none;
    margin-left: auto;
    cursor: grab;
    display: inline-block;
    font-size: $fs-12;
    font-weight: $fw-500;
    color: $text;
    background-color: transparent;
  }
  &__delete{
    border: none;
    background-color: transparent;
  }
}
